.section--cost {
  background-image: linear-gradient(
      to right,
      rgba(55, 63, 77, 0.9),
      rgba(55, 63, 77, 0.9)
    ),
    url('../images/backgrounds/fon-rules.jpg');
  background-color: $grey-color;
  background-size: cover;
  background-position: center;
}

.section__title--cost {
  position: relative;

  &::after {
    content: '';
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 90vw;
    max-width: 450px;
    height: 3px;
    background-color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: -15px;
      margin-right: auto;
      width: 200px;
      height: 3px;
      background-color: $accent-color;
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: -15px;
      margin-left: auto;
      width: 200px;
      height: 3px;
      background-color: $accent-color;
    }
  }

  @media screen and (min-width: 1200px) {
    &::after {
      bottom: 0;
    }

    &::before {
      bottom: 0;
    }
  }
}

.calc-form {
  background: $white-color;
  width: 95%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  color: $dark-grey-color;
}
.calc-form__title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.calc-form__field-select {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.calc-form__select {
  background: transparent;
  border: none;
  border-bottom: 1px solid $accent-color;
  padding: 5px;
  font-size: 20px;
  font-weight: 500;
  color: $dark-grey-color;
}

.calc-form__radio-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @media screen and (min-width: 500px) {
    flex-direction: row;
  }
}

.calc-form__field-radio {
  display: flex;
  align-items: center;
}

.calc-form__field-radio:not(:last-child) {
  margin-right: 20px;
}

.calc-form__label-radio {
  font-size: 25px;
  line-height: 1.35;
  cursor: pointer;
}

.calc-form__radio {
  margin-right: 5px;
  margin-left: 0;
  margin-top: 0;
  cursor: pointer;
}

.calc-form__cost-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  text-align: center;

  @media screen and (min-width: 500px) {
    flex-direction: row;
    text-align: left;
  }
}

.calc-form__total {
  font-size: 25px;
  // font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
}
.calc-form__button {
  display: flex;
  border: 2px solid $accent-light-color;
  border-radius: 4px;
  color: $accent-color;
  outline: none;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  background-color: $dark-blue-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.calc-form__button:hover {
  cursor: pointer;
  background-color: $accent-color;
  color: $white-color;
}
