.section--rules {
  //   max-width: 1600px;
  //   margin-left: auto;
  //   margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(55, 63, 77, 0.9),
      rgba(55, 63, 77, 0.9)
    ),
    url('../images/backgrounds/fon-rules.jpg');
  background-color: $grey-color;
  background-size: cover;
  background-position: center;
}

.container--rules {
  width: 90%;
}

.section__title--rules {
  position: relative;

  &::after {
    content: '';
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 90vw;
    max-width: 450px;
    height: 3px;
    background-color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: -15px;
      margin-right: auto;
      width: 200px;
      height: 3px;
      background-color: $accent-color;
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: -15px;
      margin-left: auto;
      width: 200px;
      height: 3px;
      background-color: $accent-color;
    }
  }

  @media screen and (min-width: 1000px) {
    &::after {
      bottom: 0;
    }

    &::before {
      bottom: 0;
    }
  }
}

.rules__list {
  @extend %list;

  //   width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
  }

  @media screen and (min-width: 1200px) {
    margin-left: calc(-1 * 40px);
    margin-top: calc(-1 * 40px);
  }
}

.rules__list-icon {
  fill: $accent-color;
  width: 50px;
  height: 50px;
  transform: rotate(20deg);
}

.rules__text {
  width: 90%;
  margin-left: 10px;
  font-size: 18px;
  line-height: 1.2;

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.rules__item {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 2 * 40px) / 2);
    margin-left: 40px;
    margin-top: 40px;
  }
}

.button--video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  border-width: 2px;
  border-radius: 10px;
  color: $accent-light-color;
  background-color: $dark-blue-color;
  background-image: none;

  transition: color $transition-fast, background-color $transition-fast;
  // transition: background-color $transition-fast;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-light-color;
    background-image: none;
  }
}

.video__text {
  width: 81%;
  font-size: 21px;
  line-height: 1.4;
}
