.section--service {
}

.container--service {
}

.service-description__container {
  position: relative;
}

.section__title--service {
  &::after {
    content: '';
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 290px;
    height: 3px;
    background-color: $accent-color;

    @media screen and (min-width: 1200px) {
      width: 340px;
    }
  }
}

.service__list {
  @extend %list;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    position: relative;
    height: 515px;
  }
}

.service__item {
  width: 290px;
  transition: transform $transition-slow;

  @media screen and (min-width: 768px) {
    width: 340px;
    position: absolute;
  }

  @media screen and (min-width: 1200px) {
    width: 380px;
  }

  &:nth-child(1) {
    margin-right: auto;
    margin-bottom: 25px;
  }

  &:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      top: 185px;
      transform: translateX(calc(50vw - 170px - 15px));
    }

    @media screen and (min-width: 1200px) {
      top: 185px;
      transform: translateX(395px);
    }
  }

  &:nth-child(3) {
    margin-left: auto;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      top: 360px;
      transform: translateX(calc(100vw - 30px - 340px));
    }

    @media screen and (min-width: 1200px) {
      top: 360px;
      transform: translateX(790px);
    }
  }
}

.service__button {
  height: 145px;
  width: 100%;
  padding: 10px;
  border: 4px solid #f17d11;
  color: inherit;
  outline: none;

  background-image: linear-gradient(
      to right,
      rgba(55, 63, 77, 0.8),
      rgba(55, 63, 77, 0.8)
    ),
    url('../images/backgrounds/fon-btns.jpg');
  background-color: $grey-color;
  background-size: cover;

  transition: opacity $transition-fast;

  @media screen and (min-width: 768px) {
    height: 155px;
  }

  &:hover .service__subject,
  &:hover .service__classes,
  &:focus .service__subject,
  &:focus .service__classes {
    color: $accent-color;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    background-image: linear-gradient(
        to right,
        rgba(55, 63, 77, 0.9),
        rgba(55, 63, 77, 0.9)
      ),
      url('../images/backgrounds/fon-btns.jpg');
  }
}

.service__subject {
  font-size: 25px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: inherit;

  transition: color $transition-fast;

  @media screen and (min-width: 768px) {
    font-size: 30px;
  }
}
.service__classes {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: inherit;

  transition: color $transition-fast;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.service__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(2000px);

  transition: transform $transition-slow;

  @media screen and (min-width: 768px) {
    width: calc(100% - 20px - 340px);
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% - 20px - 380px);
  }
}

.description__close-icon {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  cursor: pointer;
  fill: $accent-color;
}

.description__subject {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 485px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 4px solid #f17d11;

  transition: opacity $transition-slow;

  @media screen and (min-width: 768px) {
    height: 515px;
  }
}

.description__title {
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 5px;
  color: $accent-color;

  @media screen and (min-width: 600px) {
    font-size: 20px;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }

  @media screen and (min-width: 830px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 22px;
  }
}

.description__list {
  list-style-image: url('../images/icons/icon-pencil.svg');
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 14px;

  @media screen and (min-width: 600px) {
    font-size: 18px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 840px) {
    font-size: 18px;
  }
}

.description__item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.service--open {
  & .service__item:nth-child(1) {
    @media screen and (max-width: 767px) {
      transform: translateX(-600px);
    }
  }

  & .service__item:nth-child(2) {
    @media screen and (max-width: 767px) {
      transform: translateX(-800px);
    }

    @media screen and (min-width: 768px) {
      transform: translateX(0);
      left: 0;
    }
  }

  & .service__item:nth-child(3) {
    @media screen and (max-width: 767px) {
      transform: translateX(-1000px);
    }

    @media screen and (min-width: 768px) {
      transform: translateX(0);
    }
  }

  & + .service__description {
    transform: translateX(0);

    @media screen and (min-width: 767px) {
      transform: translateX(360px);
    }

    @media screen and (min-width: 1200px) {
      transform: translateX(400px);
    }
  }
}

.service__button--active {
  color: $accent-color;
  background-image: linear-gradient(
      to right,
      rgba(55, 63, 77, 0.9),
      rgba(55, 63, 77, 0.9)
    ),
    url('../images/main-photo.jpg');
}
