.service {
  padding-top: 70px;
  padding-bottom: 70px;
}

.container--service {
  // position: relative;

  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.service-description__container--desktop {
  position: relative;
  // display: none;
  // display: flex;
  // position: relative;
  // width: 80%;
}

.service__title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 40px;

  @media screen and (min-width: 500px) {
    font-size: 35px;
  }

  // font-size: 40px;
  // margin-bottom: 80px;
}

.service__list {
  @extend %list;

  // max-width: 580px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    // max-width: 680px;
    position: relative;
    height: 795px;
  }
  // display: flex;
  // flex-direction: column;
}

.service__item {
  width: 290px;
  transition: transform $transition-slow;

  &:nth-child(1) {
    margin-right: auto;
    margin-bottom: 15px;
  }

  &:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
      top: 175px;
      // left: 50%;
      transform: translateX(calc(50vw - 170px - 15px));
    }
  }

  &:nth-child(3) {
    margin-left: auto;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
      top: 350px;
      // right: 0;
      transform: translateX(calc(100vw - 45px - 340px));
    }
  }

  @media screen and (min-width: 768px) {
    // width: 40%;
    width: 340px;
    position: absolute;
  }
}

.service__button {
  height: 135px;
  width: 100%;
  padding: 10px;
  // width: 386px;
  // height: 177px;
  border: 4px solid #f17d11;
  color: inherit;
  outline: none;

  background-image: linear-gradient(
      to right,
      rgba(55, 63, 77, 0.8),
      rgba(55, 63, 77, 0.8)
    ),
    url('../images/main-photo.jpg');
  background-color: $grey-color;
  background-size: cover;

  transition: opacity $transition-fast;

  &:hover .service__subject,
  &:hover .service__classes,
  &:focus .service__subject,
  &:focus .service__classes {
    color: $accent-color;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    background-image: linear-gradient(
        to right,
        rgba(55, 63, 77, 0.9),
        rgba(55, 63, 77, 0.9)
      ),
      url('../images/main-photo.jpg');
  }

  @media screen and (min-width: 768px) {
    height: 155px;
  }
}

.service__subject {
  font-size: 25px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: inherit;

  transition: color $transition-fast;

  @media screen and (min-width: 768px) {
    font-size: 30px;
  }
}
.service__classes {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: inherit;

  transition: color $transition-fast;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.service__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(2000px);

  transition: transform $transition-slow;

  @media screen and (min-width: 768px) {
    width: calc(100% - 20px - 340px);
  }
  // bottom: 0;
  // left: 406px;
  // width: 520px;
  // transform: translateX(1000px);
}

.description__close-btn {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  font-weight: bold;
  color: $accent-color;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.description__subject {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 435px;
  padding: 20px 20px 0 0;

  border: 4px solid #f17d11;

  // width: 590px;
  // height: 561px;

  transition: opacity $transition-slow;

  @media screen and (min-width: 768px) {
    height: 505px;
  }
}

.description__title {
  // display: block;
  font-size: 18px;
  text-align: center;
  color: $accent-color;
  margin-bottom: 20px;
  // margin-bottom: 25px;
}

.description__list {
  list-style-image: url('../images/icon-pencil.svg');
  margin-bottom: 20px;
  font-size: 14px;
  // margin-bottom: 50px;
}

.description__item {
  margin-bottom: 15px;
}

.service--open {
  & .service__item:nth-child(1) {
    @media screen and (max-width: 767px) {
      transform: translateX(-600px);
    }

    @media screen and (min-width: 768px) {
      // transform: translateX(0);
    }
  }

  & .service__item:nth-child(2) {
    @media screen and (max-width: 767px) {
      transform: translateX(-800px);
    }

    @media screen and (min-width: 768px) {
      transform: translateX(0);
      left: 0;
    }
  }
  // transform: translateX(-287px);

  & .service__item:nth-child(3) {
    @media screen and (max-width: 767px) {
      transform: translateX(-1000px);
    }

    @media screen and (min-width: 768px) {
      transform: translateX(0);
    }
    // transform: translateX(-574px);
  }

  & + .service__description {
    transform: translateX(0);

    @media screen and (min-width: 767px) {
      transform: translateX(360px);
    }
  }
}

.service__button--active {
  color: $accent-color;
  background-image: linear-gradient(
      to right,
      rgba(55, 63, 77, 0.9),
      rgba(55, 63, 77, 0.9)
    ),
    url('../images/main-photo.jpg');
}
