body {
  // background-color: $black-color;
  background-color: $dark-blue-color;
  color: $white-color;
  font-family: 'Jura', sans-serif;
  letter-spacing: 0.03em;
  // font-size: 14px;
  font-weight: 400;
  // line-height: 1.72;
}

// body.modal--is-open,
// body.menu--is-open {
//   overflow: hidden;
// }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
