.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  min-width: 320px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    // width: 738px;
  }
}

.section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section__title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 40px;

  @media screen and (min-width: 500px) {
    font-size: 35px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 40px;
  }
}

.button {
  height: 145px;
  width: 100%;
  padding: 10px;
  border: 4px solid $accent-light-color;
  color: inherit;
  outline: none;

  background-image: linear-gradient(
      to right,
      rgba(55, 63, 77, 0.8),
      rgba(55, 63, 77, 0.8)
    ),
    url('../images/backgrounds/fon-btns.jpg');
  background-color: $grey-color;
  // background-size: cover;

  transition: opacity $transition-fast, color $transition-fast;
  // transition: color $transition-fast;

  @media screen and (min-width: 768px) {
    height: 155px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
    cursor: pointer;
    background-image: linear-gradient(
        to right,
        rgba(55, 63, 77, 0.9),
        rgba(55, 63, 77, 0.9)
      ),
      url('../images/backgrounds/fon-btns.jpg');
  }
}
