$black-color: #0f0f0f;
// $dark-grey-color: #1c1d1e;
// $grey-color: rgb(61, 61, 61);
$accent-color: #ff7a00;
$white-color: #ffffff;
$dark-blue-color: #141d2d;
$grey-color: #373f4d;

// анімація
$transition-slow: 500ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
